<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <title>{% block title '' %} Kadet's Bin</title>

        <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/styles/' ~ global.request.cookies.get('theme', 'github') ~ '.css') }}" rel="stylesheet" id="theme" />
    </head>
    <body>
        {% block content '' %}
        <footer id="footer">
            <select id="theme-select">
                <option value="github">GitHub</option>
                <option value="php">PHP</option>
                <option value="keylighter">KeyLighter (dark)</option>
            </select>
            &bullet;
            <a href="#">#{{ version }}</a> &bullet; KeyLighter: {{ constant('\\Kadet\\Highlighter\\KeyLighter::VERSION') }} &bullet; <img src="/img/kadet.png" class="logo"/> &copy; 2017
        </footer>

        <script>
            select = document.getElementById('theme-select');
            document.addEventListener('change', function(event) {
                if(event.target.id !== "theme-select") return;

                var theme = event.target.options[event.target.selectedIndex].value;

                document.getElementById('theme').href = "{{ asset('css/styles/') }}" + theme + ".css";
                document.cookie = "theme=" + theme + "; path=/"
            });
        </script>
        {% block scripts '' %}
    </body>
</html>
