{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{ meta['title'] }}</h1>
    <pre class="keylighter"><code>{{ paste|highlight(language) }}</code></pre>

    <form action="/{{ meta['slug'] }}" method="post" class="form absolute">
        <label for="title">Title =></label>
        <input name="title" id="title" value="{{ meta['title'] }}"/>

        <label for="author">Author =></label>
        <input name="author" id="author" value="{{ meta['author'] }}"/>

        <label for="language">Language =></label>
        <input name="language" id="language" value="{{ meta['language'] }}"/>

        <label for="key">Key =></label>
        <input name="key" id="key"/>

        <label for="description">Description =></label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>

        <button type="submit">ok</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('key').value = window.localStorage.getItem("key")
    </script>
{% endblock %}