{% extends "layout.html.twig" %}

{%- block title -%}
    {% if meta.title is not empty%}&quot;{{ meta.title }}&quot;{% endif %}
    {% if meta.author is not empty %}by {{ meta.author }}{% endif %}
    on
{%- endblock -%}

{% block content %}
    <header id="header">
        <h1 {% if meta['title'] is empty %}class="empty"{% endif %}>{{ meta['title']|default("untitled") }}</h1>
        <aside>
            <i class="fa fa-user"></i> {{ meta['author'] ?: "unknown" }} &bullet;
            <i class="fa fa-code"></i> {{ meta['language'] }} &bullet;
            <i class="fa fa-calendar-o"></i> {{ meta['added'].format('d.m.Y H:i') }}
            <span class="mobile-break">&bullet;</span>
            <a href="/{{ meta['slug'] }}/raw"><i class="fa fa-file-text-o"></i> raw</a> &bullet;
            <a href="#"><i class="fa fa-download"></i> save</a>

            {% if meta['description'] %}
                <p>{{ meta['description'] }}</p>
            {% endif %}
        </aside>
    </header>
    <pre class="keylighter">{{ paste|highlight(language)|lineify(meta['mappings']) }}</pre>

    <form action="/{{ meta['slug'] }}" method="post" class="form absolute">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ meta['title'] }}"/>

        <label for="language"><i class="fa fa-fw fa-code"></i> Language</label>
        <input name="language" id="language" value="{{ meta['language'] }}"/>

        <label for="author"><i class="fa fa-fw fa-user"></i> Author</label>
        <input name="author" id="author" value="{{ meta['author'] }}"/>

        <label for="key"><i class="fa fa-fw fa-key"></i> Key</label>
        <div id="key-input">
            <input name="key" id="key"/>
            <button id="key-save" title="Remember key"><i class="fa fa-floppy-o"></i></button>
        </div>

        <label for="lines">
            <i class="fa fa-fw fa-list"></i> Line mappings:
        </label>
        <small><code class="explanation">1:10</code> - makes line 1 to appear as 10</small>
        <small><code class="explanation">!3:5</code> - highlights line from 3 to 5</small>

        <input name="lines" id="lines" value="{{ meta['lines'] }}"/>

        <label for="description"><i class="fa fa-fw fa-comment-o"></i> Description</label>
        <textarea name="description" id="description" cols="30" rows="10">{{ meta['description'] }}</textarea>

        <button type="submit"><i class="fa fa-floppy-o"></i> save</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('key').value = window.localStorage.getItem("key");
        document.getElementById('key-save').addEventListener('click', function() {
            window.localStorage.setItem('key', document.getElementById('key').value);
            e.stopPropagation();
            e.preventDefault();
        })
    </script>
{% endblock %}